<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-5">
		<%= image_tag "http://placehold.it/250x250", alt: "profile image" %>
	</div>

	<div class="col-md-7">
		<p>Throughout my life I have been fascinated with technology and have made it my passion to gain as much knowledge as I can. I love developing, because it gives me a way to incorporate my passion into a career.</p> 
		<p>Other than technology my biggest passion is my family, I'm a husband and father of 3 beautiful girls who motivate all aspects of my life.</p>
		<p>Aside from all other aspects of my life, if I ever have free time I love being outdoors. In the winter you can find me in the mountains snowboarding, while in the warmer seasons I'm always down to hike, whether it's in the high Uintas or the desserts of southern Utah.</p>
	</div>
</div>

