<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-5">
		<%= image_tag "http://placehold.it/250x250", alt: "profile image" %>
	</div>

	<div class="col-md-7">
		<p>As a passionate Developer, I take it on myself to do the best I can in whatever I'm doing. I'm constantly perfecting my craft and learning new skills along the way.</p>
	</div>
</div>

