<div class="inner cover">
  <h1 class="cover-heading">Collin Davis</h1>
  <p class="lead">As a passionate Developer, I take it on myself to do the best I can in whatever I'm doing. I'm constantly perfecting my craft and learning new skills along the way.</p>
  <p class="lead">
    <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">About me</a>
  </p>
</div>



    
